---
layout: default
---
<article class="app">

  <header class="app-header">
    <img class="app-icon" src="https://f-droid.org/repo/icons/{{page.icon}}" />

    <div class="app-title">
      <h3 class="app-name">
        {{ page.title }}
      </h3>

      <div class="app-summary">
        {{ page.summary }}
      </div>
    </div>

  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>